[submodule "Memory-Palace"]
	path = Memory-Palace
	url = https://github.com/AGI-is-going-to-arrive/Memory-Palace.git
[submodule "config"]
	path = config
	url = https://github.com/AGI-is-going-to-arrive/Memory-Palace.git
